*{
    margin: 0;
    padding: 0;
}
.whole{
   
    width: 100%;
    height: 100vh;
    background-image: url(assets/image.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.pl{
    position: relative;

}

.nav{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
   
}
.logo{
    cursor: pointer;
    width: 140px;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.content{
    position: absolute;
    width: 100%;
    top: 30%;
}
.left{
    margin-left: 6%;
    
}
.left h1{
    line-height: 110px;
    font-size: 80px;
    color: white;
    float: left;
}
.right{
    float: right;
    margin-right: 6%;
    margin-top: 1px;
    
   
}
.left h1{
    width: 50%;
}
#icon{
    width: 80px;
    cursor: pointer;
    
}
#progress{

    height: 10px;
    background-color: #ab1934;
    
}
#p{
    color:black;
    display: inline-block;
}
#mysong{
display: block;
margin:0;
padding: 0;


}
#icon{
    display: block;
}
#progress{
    display: block;
}